@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:500,700");

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  color: #f5f5dc;
  margin: 0px;
  background-image: url("../img/christmas.png");
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;  
  background-attachment: fixed;  
}

h1 {
  font-family: "Playfair Display", serif;
  padding: 10px 20px 12px 20px;
  margin: 0px;
  color: #d4af37;
  text-align: center;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 20px;
  margin: 0px;
}

p {
  padding: 6px 20px 6px 20px;
  margin: 0px;
}

table {
  background-color: #1e4d3c;
  margin: 10px;
  padding: 5px;
  border: 1px solid #d4af37;
  border-spacing: 0px;
}
  
th {
  text-transform: uppercase;
  text-align: left;
  font-size: 0.75em;
  letter-spacing: 0.2em;
  padding: 5px 10px;
  background-color: #d4af37;
  color: #1e4d3c;
}
  
td {
  padding: 5px 10px;
  color: #f5f5dc;
}

a {
  color: #f5f5dc;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

nav {
  padding: 1em 0;
  background-color: #1e4d3c;
  text-align: center;
  border-bottom: 3px solid #d4af37;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav a {
  text-transform: uppercase;
  padding: 0.8em 1.5em;
  margin: 0 0.2em;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #1e4d3c;
  background-color: #d4af37;
  transform: translateY(-2px);
}
 
.button {
  background-color: #d4af37;
  color: #1e4d3c;
  border-color: #d4af37;
  border-radius: 300px;
  -webkit-transition: .3s background-color linear;
  -moz-transition: .3s background-color linear;
  -o-transition: .3s background-color linear;
  transition: .3s background-color linear;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #c9a030;
  border-radius: 300px;
  -webkit-transition: .1s background-color linear;
  -moz-transition: .1s background-color linear;
  -o-transition: .1s background-color linear;
  transition: .1s background-color linear;
  color: #ffffff;
}
  
.offer {
  text-transform: uppercase;  
}

footer {
    background-color: #1e4d3c;
    padding: 10px;
    text-align: center;
    border-top: 3px solid #d4af37;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    flex-shrink: 0;
}