html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

body {
	color: #fff; 
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  height: 200;
  overflow: hidden;
  width: max-content;
  margin: 0 auto 0 auto;
}

header img {
  height: 200px;
  display: block;
}

h1 {
  display: inline-block;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  position: relative;
  top: -0.6em;
  font-size: 1.8em;
  padding: 0 0 0 0.5em;
  margin: 0;}

h2 {
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 auto 0.7em auto;
  padding: 0;
  text-align: center; 
}

section {
  padding: 1em;
  width: max-content;
  margin: 0 auto 0 auto;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td, th {
  padding: 0.3em 2em 0.3em 0;
}

th:last-child {
  padding: 0;
}

tr:nth-child(2) td {
  padding-top: 0.6em;
}

th {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-bottom: 1px solid #6f7381;
  font-weight: normal;
  color: #b5b6c1;
}

p {
  margin-bottom: 1.6em;
}

.important {
  color: #ffffff;
}

td.credit {
  color: #f1d386;
}

td.overdrawn {
  color: #fca905;
}

footer {
  margin-top: 3em;
  padding: 1em 0;
  text-align: center;
  color: #b5b6c1;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  border-top: 1px solid #6f7381;
}

footer p {
  margin: 0;
}